.chatContainer{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    border: 1px solid black;
    height: 50vh;
    width: 100%;
    padding: 5px;
}
#divLabelChat{
    overflow: auto;
    height: 80%;

}
#container{
    width: 60%;
    display:flex;
    margin: 0 auto;
    flex-direction: column;
}
#inputUserName{
    width: 20%;
    margin: 3px;
}
#labelChat{
}
#containerInputButton{
    height: 20%;
    display: flex;
    flex-direction: row;
    border-top: 2px solid grey;
    align-items: center;
    padding: 5px;
}
#inputChat{
    width: 80%;
    height: 50%;
}

#buttonChat{
    width: 15%;
    height: 80%;
    margin-left: 5px;
}